<!doctype html>

<html>
  
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Healthflow v0.01</title>
    
    <link rel="stylesheet" href="styles/loading.css" />
    <link rel="stylesheet" href="custom/custom.css" />
    
  </head>
  
  <body>
    
    <div id="loader-wrapper">
			<div id="loader"></div>
		</div>
    
    <div id="root" class="full-height">
      
    </div>
  
  </body>
  
</html>
